* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Misspiece';
  src: local('Misspiece'), url(./assets/Misspiece.woff) format('woff');
}

@media screen and (max-width: 440px) {
  .app {
    padding: 1rem;
  }

  h1 {
    font-size: 68px !important;
  }

  h2 {
    margin-top: 4px;
    font-size: 32px !important;
  }

  h3 {
    font-size: 32px !important;
  }

  p {
    font-size: 20px !important;
  }
}
